@page
@model IndexModel
@{
    ViewData["Title"] = "PATOSKI VENTURE";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Patoski Venture's Blog</h1>
    <h6>News, Events, Entertainment, Lifestyle, Fashion, Beauty, Inspiration and yes... Gossip! *Wink*</h6>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
